<footer class="bg-faded">
  <div class="container">
    <div class="row">
      <!-- <div class="col my-3 text-center"> -->
      <div class="col-4 text-center">
      	<h4>Corner Farm Chicago</h4>
      	<div class="row">
      		<div class="col text-center">
      			<a href="https://www.facebook.com/AltgeldSawyerCornerFarm/">Facebook</a>
      		</div>
      		<div class="col text-center">
      			<a href="https://www.instagram.com/cornerfarmchicago/">Instagram</a>
      		</div>
      		<div class="col text-center">
      			<a href="http://eventbrite.com">Eventbrite</a>
      		</div>
      	</div>
      	<div class="row">
      	<p>Subscribe to our newsletter</p>
      		<div class="input-group">
      			<input type="text" class="form-control" placeholder="Your email address">
      			<span class="input-group-btn">
    				<button class="btn btn-primary" type="button">Subscribe!</button>
      			</span>
    		</div>
      	</div>
      </div>
      <div class="col-8">
      	<div class="row">
	      <div class="col">
	      	<ul>
	      		<li>Home</li>
	      		<li>About</li>
	      		<li>Calendar</li>
	  		</ul>
	      </div>
	      <div class="col">
	      	<ul>
	      		<li>Get Involved
	      			<ul>
	      				<li>Volunteering</li>
	      				<li>Compost</li>
	      				<li>Public Events</li>
	      				<li>Partnerships</li>
	      			</ul>
	      		</li>
	  		</ul>
	  		<ul>
	      		<li>Resources
	      			<ul>
	      				<li>CFC Resources</li>
	      				<li>General Farming</li>
	      			</ul>
	      		</li>
	  		</ul>
	      </div>
      </div>
    </div>
    </div>
    <div class="row">
    	<div class="col text-center">
        	<p>&copy; 2017 {{ site.title | escape }}</p>
      </div>
    </div>
  </div>
</footer>
