<footer class="ds-u-margin-top--7 ds-u-padding-y--7">
  <div class="ds-l-container">
    <div class="ds-l-row">

      <div class="ds-l-col">
        <div class="ds-u-display--flex">
          <div class="ds-u-justify-content--start">
            <a href="{{ site.url }}/">
              <img src="{{ site.url }}/assets/images/CFC-logo.png" class="footer-logo" alt="{{ site.title | escape }}">
            </a>
          </div>
          <div class="ds-u-justify-content--start ds-u-margin-left--1">
            <h6 class="ds-h4">Grow with us.</h6>
            <p class="ds-u-font-style--italic">Corner of Altgeld &amp; Sawyer</p>
          </div>
        </div>
      </div>

      <div class="ds-l-col">
        <h6 class="ds-h4">Connect with us.</h6>
        <ul class="ds-u-display--flex footer-social">
          <li class="ds-u-justify-content--between"><a href="https://www.facebook.com/AltgeldSawyerCornerFarm/">{% include facebook.svg %}</a></li>
          <li class="ds-u-justify-content--between"><a href="https://www.instagram.com/cornerfarmchicago/">{% include instagram.svg %}</a></li>
          <li class="ds-u-justify-content--between"><a href="http://eventbrite.com">{% include eventbrite.svg %}</a></li>
        </ul>
      </div>

      <div class="ds-l-col">
        <h6 class="ds-h4">Subscribe to our newsletter.</h6>
        <form action="https://cornerfarmchicago.us6.list-manage.com/subscribe/post?u=4d21a12176932e6eceaa39ce7&amp;id=7a8a40c039" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label class="sr-only" for="inlineFormInput">Email</label>
            <input type="email" value="" name="EMAIL" class="email email-input ds-c-field ds-u-display--inline" id="mce-EMAIL" placeholder="you@email.com">
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4d21a12176932e6eceaa39ce7_7a8a40c039" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="ds-c-button ds-c-button--primary">
          </div>
        </form>
      </div>

    </div>
    <div class="ds-l-row">
    	<div class="ds-l-col ds-u-text-align--center ds-u-padding-y--4">
        	<p>&copy; 2017 {{ site.title | escape }}</p>
      </div>
    </div>
  </div>
</footer>
