<footer class="pt-2">
  <div class="container pt-4">
    <div class="row">
      <div class="col-lg-4">
	  	<div class="row">
	    	<h4>Corner Farm Chicago</h4>
	    </div>
	    <div class="row">
	    	<h6>Grow with us.</h6>
	    </div>
      	<div class="row py-2">
      		<a href="https://www.facebook.com/AltgeldSawyerCornerFarm/" class="pr-2">Facebook</a>
      	    <a href="https://www.instagram.com/cornerfarmchicago/" class="pr-2">Instagram</a>
			<a href="http://eventbrite.com" class="pr-2">Eventbrite</a>
      	</div>
      	<div class="row py-3">
      		<div class="col-s-8">
	      		<label for="newsletterEmail">Subscribe to our Newsletter</label>
	      		<div class="input-group">
		      		<input type="email" class="form-control" id="newsletterEmail" placeholder="Your email address">
		      		<span class="input-group-btn">
		      			<button class="btn btn-primary" type="submit">Subscribe!</button>
		      		</span>
	      		</div>
			</div>
      	</div>
      </div>
      <div class="col-lg-8">
      	<div class="row">
	      <div class="col-md-4">
	      	<ul class="list-unstyled">
	      		<li><a href="{{ site.url }}/">Home</a></li>
	  		</ul>
	  		<ul class="list-unstyled">
	      		<li><a href="{{ site.url }}/calendar/">Calendar</a></li>
	  		</ul>
	  		<ul class="list-unstyled">
	      		<li>About
	      			<ul class="list-unstyled">
	      				<li><a href="{{ site.url }}/mission/">Mission</a></li>
	      				<li><a href="{{ site.url }}/Altgeld-Sawyer/">Altgeld-Sawyer</a></li>
	      			</ul>
	      		</li>
	  		</ul>
	      </div>	
	      <div class="col-md-4">
	      	<ul class="list-unstyled">
	      		<li>Get Involved
	      			<ul class="list-unstyled">
	      				<li><a href="{{ site.url }}/volunteering/">Volunteering</a></li>
	      				<li><a href="{{ site.url }}/compost/">Compost</a></li>
	      				<li><a href="{{ site.url }}/public-events/">Public Events</a></li>
	      				<li><a href="{{ site.url }}/partnerships/">Partnerships</a></li>
	      			</ul>
	      		</li>
	  		</ul>
	      </div>
	      <div class="col-md-4">
	      	<ul class="list-unstyled">
	      		<li>Resources
	      			<ul class="list-unstyled">
	      				<li><a href="{{ site.url }}/cfc-volunteers/">CFC Volunteers</a></li>
	      				<li><a href="{{ site.url }}/general-farming/">General Farming</a></li>
	      			</ul>
	      		</li>
	  		</ul>
  		</div>
      </div>
    </div>
    </div>
    <div class="row">
    	<div class="col text-center">
        	<p>&copy; 2017 {{ site.title | escape }}</p>
      </div>
    </div>
  </div>
</footer>
