<header class="site-header">
  <a href="{{ site.url }}/" class="ds-u-margin-top--1 ds-u-margin-left--1">
    <img src="{{ site.url }}/assets/images/CFC-logo.png" class="logo" alt="{{ site.title | escape }}">
  </a>

  <nav class="ds-u-margin-right--1">
    <ul class="ds-c-list--bare main-nav">
      <li>
        <div class="dropdown-trigger ds-u-padding-x--2 ds-u-padding-y--4">About</div>
        <div class="dropdown">
          <ul class="ds-c-list--bare">
            <li class="ds-u-padding--1"><a href="{{ site.url }}/altgeld-sawyer/">Altgeld Sawyer</a></li>
            <li class="ds-u-padding--1"><a href="{{ site.url }}/mission/">Mission</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropdown-trigger ds-u-padding-x--2 ds-u-padding-y--4">Get involved</div>
        <div class="dropdown">
          <ul class="ds-c-list--bare">
            <li class="ds-u-padding--1"><a href="{{ site.url }}/volunteering/">Volunteering</a></li>
            <li class="ds-u-padding--1"><a href="{{ site.url }}/compost/">Compost</a></li>
            <li class="ds-u-padding--1"><a href="{{ site.url }}/partnerships/">Partnerships</a></li>
            <li class="ds-u-padding--1"><a href="{{ site.url }}/public-events/">Public events</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropdown-trigger ds-u-padding-x--2 ds-u-padding-y--4">Resources</div>
        <div class="dropdown">
          <ul class="ds-c-list--bare">
            <li class="ds-u-padding--1"><a href="{{ site.url }}/volunteers/">Volunteers</a></li>
            <li class="ds-u-padding--1"><a href="{{ site.url }}/general-farming/">General farming</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="ds-u-padding-x--2 ds-u-padding-y--4">
          <a href="{{ site.url }}/calendar/">Calendar</a>
        </div>
      </li>
    </ul>
  </nav>
</header>
