
<header class="site-header">
    <a href="{{ site.url }}/" class="logo">
      {% include CFC-logo.svg %}
    </a>

  <nav>
    <ul class="ds-c-list--bare main-nav">
<!-- Save Your Garden link to GoFundMePage. Remove when fundraiser is done -->        
       <li class="ds-u-align-item--center ">
        <div class="dropdown-trigger ds-u-padding-x--3 ds-u-padding-y--3 ds-u-display--flex">
        <div class="ds-l-col">
          <span class="ds-u-align-item--center"><a href="https://www.gofundme.com/f/save-the-corner-farm?qid=4bd74a3a20dc7cb55dbd7e069320b0f6" style="box-shadow: inset 0 -22px 0 0 #FC6563;" target="_blank">Save Your Garden!</a></span>
        </div>
      </li>
 <!--------->       
      <li class="ds-u-align-item--center ">
        <div class="dropdown-trigger ds-u-padding-x--3 ds-u-padding-y--3 ds-u-display--flex">
          <span class="ds-u-align-item--center">About</span>
          <i class="material-icons md-24 ds-u-align-item--center">arrow_drop_down</i>
        </div>
        <div class="dropdown">
          <ul class="ds-c-list--bare">
            <li class="ds-u-padding--1"><a href="{{ site.url }}/altgeld-sawyer/">Altgeld Sawyer</a></li>
            <li class="ds-u-padding--1"><a href="{{ site.url }}/mission/">Mission</a></li>
          </ul>
        </div>
      </li>
      
      <li>
        <div class="dropdown-trigger ds-u-padding-x--3 ds-u-padding-y--3 ds-u-display--flex">
          <span class="ds-u-align-item--center">Get involved</span>
          <i class="material-icons md-24 ds-u-align-item--center">arrow_drop_down</i>
        </div>
        <div class="dropdown">
          <ul class="ds-c-list--bare">
            <li class="ds-u-padding--1"><a href="{{ site.url }}/volunteering/">Volunteering</a></li>
            <li class="ds-u-padding--1"><a href="{{ site.url }}/compost/">Compost</a></li>
            <li class="ds-u-padding--1"><a href="{{ site.url }}/partnerships/">Partnerships</a></li>
           <!--  <li class="ds-u-padding--1">
              <a href="{{ site.url }}/public-events/" class="ds-u-display--flex">
                <i class="material-icons md-24 ds-u-align-item--center ds-u-margin-right--1">open_in_new</i>
                <span class="ds-u-align-item--center">Public events</span>
              </a>
            </li> -->
          </ul>
        </div>
      </li>
      <li>
        <div class="dropdown-trigger ds-u-padding-x--3 ds-u-padding-y--3 ds-u-display--flex">
          <span class="ds-u-align-item--center">Resources</span>
          <i class="material-icons md-24 ds-u-align-item--center">arrow_drop_down</i>
        </div>
        <div class="dropdown">
          <ul class="ds-c-list--bare">
            <li class="ds-u-padding--1"><a href="{{ site.url }}/volunteers/">Volunteers</a></li>
            <li class="ds-u-padding--1"><a href="{{ site.url }}/general-farming/">General farming</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="ds-u-padding-x--3 ds-u-padding-y--3">
          <a href="{{ site.url }}/calendar/">Calendar</a>
        </div>
      </li>
    </ul>
  </nav>
</header>
