//
// Typography
//
body {
	font-family: $base-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

.display-1,
.display-2,
.display-3,
.display-4 {
	font-weight: 700;
}

.jumbotron {
	background: url("images/about-header.jpeg") no-repeat center center;
	background-size: cover;
	padding-bottom:0;
	padding-top:3*$spacer;
}

//
// Header
//
.navbar{
	text-transform: uppercase;
	letter-spacing:1px;
	font-size:0.8rem;

	.dropdown-item{
	font-size:0.8rem;
	}

}

.nav-item {
	padding: 0 0.5rem;

	.nav-link {
		color: black;
		&:hover {
			color: $pink;
		}
	}
}

.logo {
		height: 65px;
	}

@include media-breakpoint-down(md) {
	.logo {
		height: 35px;
	}
}

.dropdown:hover>.dropdown-menu {
  display: block;
}


//
// Homepage
//
#jumbotron-home {
	background: url("images/home-splash.jpg") no-repeat center center;
	background-size: cover;
	height:100vh;
	padding-top: 180px;
	margin-bottom: 0px;

	h1,p{
		color:white;

	}

	p{
		font-size: 18px;
	}
}


.sidebar{
	background-color: $pink;
	padding-top: 24px;
	padding-left: 40px;

	h3{
		color:$gray;;
	}

	ol,ul{
	list-style: none;
	padding-left:0;
	}

	li{
		color: white;
		font-size: 14px;
		font-weight:400;
	}

	ol>li{
		font-weight: 700;
		padding-top:10px;
	}
}


//
// Content
//
article {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $pink;
		text-transform: uppercase;
	}

	hr {
		border: solid 1px $pink;
		margin-top: 3*$spacer;
		margin-bottom: 3*$spacer;
	}
}

figure>img{
	width:100%;
}

figcaption{
	font-size:12px;
	color:#999;
}


//
// About Pages
//
#jumbotron-about {
	background: url("images/about-header.jpeg") no-repeat center center;
}

.highlight-text {
	text-transform: uppercase;
	color: $pink;
	background-color: $white;
	padding: $spacer;
	display: inline-block;
}

.quote{
	font-size:24px;
	color:green;
	padding: 30px 50px;
	border:$pink 1px solid;
}

//
// Get Involved
//
#jumbotron-get-involved{
	background: url("images/compost-header.jpg") no-repeat center center;

}

//
// Resources
//
#jumbotron-resources{
	background: url("images/home-splash.jpg") no-repeat center center;

}

//
// Calendar
//
#jumbotron-calendar{
	background: url("images/tomato_tower.jpg") no-repeat center center;
	background-size: cover;

}

//
// Nav
//
.sub-nav {
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-top:1.5*$spacer;
	font-size: 14px;
	font-weight: 400;

	a {
		color: $white !important;
		&:hover {
			color: $pink !important;
		}
	}
}

@include media-breakpoint-down(xs) {
	.sub-nav li {
		display: block !important;
		width: 100%;
		background-color: red;
	}
}


//
// Footer
//
footer {
	background: $gray;
	//margin-top: 3*$spacer;
	h4,h6,a,p,label{
		color: $white;
	}

	ul{
		margin-bottom:0.2rem;
	}

	li>ul>li>a{
		padding-left:0.5rem;
		font-size:0.85rem;
	}

	li:first-child{
		color:$pink;
	}
}
