//
// Typography
//
body {
	font-family: $base-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

.display-1,
.display-2,
.display-3,
.display-4 {
	font-weight: 700;
}

//
// Header
//
.navbar{
	text-transform: uppercase;
	letter-spacing:1px;
	font-size:0.8rem;

	.dropdown-item{
	font-size:0.8rem;
	}
}

.nav-item{
	padding: 0 0.5rem;
}


//
// About Pages
//
.jumbotron {
	background: url("images/about-header.jpeg") no-repeat center center;
	padding-bottom:0;
	padding-top:3*$spacer;
}

.highlight-text {
	text-transform: uppercase;
	color: $pink;
	background-color: $white;
	padding: $spacer;
	display: inline-block;
}

//
// Nav
//
.custom-nav {
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-top:1.5*$spacer;

	a{
		font-weight: 200;
		color: $white;
	}
}

//
// Footer
//
footer{
	background: $gray;
	h4,h6,a,p,label{
		color: $white;
	}

	ul{
		margin-bottom:0.2rem;
	}

	li>ul>li>a{
		padding-left:0.5rem;
		font-size:0.85rem;
	}

	li:first-child{
		color:$pink;
	}
}