//
// Typography
//
body {
	font-family: $base-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

.display-1,
.display-2,
.display-3,
.display-4 {
	font-weight: 700;
}

//
// Header
//
.navbar{
	text-transform: uppercase;
	letter-spacing:1px;
	font-size:0.8rem;

	.dropdown-item{
	font-size:0.8rem;
	}

}

.nav-item {
	padding: 0 0.5rem;

	.nav-link {
		color: black;
		&:hover {
			color: $pink;
		}
	}
}

.logo {
		height: 65px;
	}

@include media-breakpoint-down(md) {
	.logo {
		height: 35px;
	}
}


//
// About Pages
//
.jumbotron {
	background: url("images/about-header.jpeg") no-repeat center center;
	background-size: cover;
	padding-bottom:0;
	padding-top:3*$spacer;
}

.highlight-text {
	text-transform: uppercase;
	color: $pink;
	background-color: $white;
	padding: $spacer;
	display: inline-block;
}

article {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $pink;
		text-transform: uppercase;
	}

	hr {
		border: solid 1px $pink;
		margin-top: 3*$spacer;
		margin-bottom: 3*$spacer;
	}
}

figure>img{
	width:100%;
}

figcaption{
	font-size:12px;
	color:#999;
}

.quote{
	font-size:24px;
	color:green;
	padding: 30px 50px;
	border:$pink 1px solid;
}

//
// Nav
//
.sub-nav {
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-top:1.5*$spacer;
	font-size: 14px;
	font-weight: 400;

	a {
		color: $white !important;
		&:hover {
			color: $pink !important;
		}
	}
}

@include media-breakpoint-down(xs) {
	.sub-nav li {
		display: block !important;
		width: 100%;
		background-color: red;
	}
}

//
// Footer
//
footer {
	border-top: 2px dotted $pink;
	position: relative;

	.social {
		list-style-type: none;
		padding-left: 0px;

		li {
			display: inline-block;;
		}
	}

	&:before {
		content: url(images/carrot.svg);
		border-radius: 50%;
		top: -30px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
	}
}

// footer {
// 	background: $gray;
// 	margin-top: 3*$spacer;
// 	h4,h6,a,p,label{
// 		color: $white;
// 	}
//
// 	ul{
// 		margin-bottom:0.2rem;
// 	}
//
// 	li>ul>li>a{
// 		padding-left:0.5rem;
// 		font-size:0.85rem;
// 	}
//
// 	li:first-child{
// 		color:$pink;
// 	}
// }
