//
// Splash Page
//

header {
  /*background-color: $mossgreen;*/
  background-image: url(../assets/images/home-splash.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  p {
    color: $eggshellwhite;
  }
}

h1 {
  color: $eggshellwhite;
  font-size: 96px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

em {
  color: $mossgreen;
}

.logo {
    height: 80px;
    padding: 0 8px 8px 8px;
    background: #fff;
  }

.intro {
  h4 {
    font-size: 32px;
    color: $salmonred;
  }

  p {
    font-size: 24px;
    color: $mossgreen; 
    font-weight: 300;
  }

  button{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding:10px;
    color: #fff;
    border:none;
    border-radius: 4px;
    background: #FC6563;
    box-shadow: 0px 4px #D14846;
  }
}




.schedule {
  background: $mossgreen;

  h3 {
    font-size:40px;
    color: $eggshellwhite;
    background: $salmonred;
    position: relative;
    top: -40px;
  }

  p {
  font-size: 24px;
  color: $eggshellwhite;
  }

  .date {
  color: $eggshellwhite;
  font-size: 32px;
  font-weight:700;
  margin: 0;
  padding: 0;
  }

.info {
  color: $shadownavy;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  }
}



.construction {
  height: 400px;
  background-color: $shadownavy;

  p {
  color: $eggshellwhite;
  font-size: 16px;
  text-transform: uppercase;
  }

}




//
// Button mods
//
.ascf-button--salmon {
  @extend .ds-c-button;
  @extend .ds-c-button--primary;
  background-color: $salmonred !important;
  box-shadow: 0px 4px 0 #000;
}

.material-icons.md-24 { font-size: 24px; }

//
// Header
//
.site-header {
  background-color: $eggshellwhite;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .logo {
    height: 50px;
  }

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    letter-spacing: 2px;

    li {
      > .dropdown { display: none; }
      > .dropdown-trigger { position: relative; }

      &:hover {
        background-color: $gravelgray;
        .dropdown {
          display: block;
          position: absolute;
        }
      }
    }

    .dropdown {
      background: $eggshellwhite;
      z-index: 10000;

      ul li a {
        text-decoration: none;
        color: $shadownavy;
      }
    }
  }
}

//
// Pages
//
.page-header {
  background-size: cover;
  background-position: center;
}

// Background photos
.cabbage-background { background-image: url(../assets/images/about-header.jpg); }
.compost-background { background-image: url(../assets/images/compost-header.jpg); }

.page-header {
  .ds-display {
    font-size: 40px;
    background-color: $salmonred;
    color: $eggshellwhite;
  }
}

article {
  img {
    width: 100%;
    height: auto;
  }

  figure {
    margin: 0px !important;
    figcaption {
      font-size: 14px;
      font-style: italic;
    }
  }
}

.page-navigation {
  background-color: #fff;
  border-bottom: 4px solid #ededed;

  .page-navigation-title {
    background-color: $gravelgray;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  ul {
    li a {
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none;
      color: $shadownavy;

      &:hover, &:focus, &:active {
        color: $salmonred;
      }
    }

    li:not(:last-child) {
      border-bottom: 1px solid $gravelgray;
    }
  }
}
