//
// Button mods
//
.ascf-button--salmon {
  @extend .ds-c-button;
  @extend .ds-c-button--primary;
  background-color: $salmonred !important;
  box-shadow: 0px 4px 0 #000;
}

.material-icons.md-24 { font-size: 24px; }

//
// Screen reader only class
//
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

//
// Header
//
.site-header {
  background-color: $eggshellwhite;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .logo {
    height: 50px;
  }

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    letter-spacing: 2px;

    li {
      > .dropdown { display: none; }
      > .dropdown-trigger { position: relative; }

      &:hover {
        background-color: $gravelgray;
        .dropdown {
          display: block;
          position: absolute;
        }
      }
    }

    .dropdown {
      background: $eggshellwhite;
      z-index: 10000;

      ul li a {
        text-decoration: none;
        color: $shadownavy;
      }
    }
  }
}

//
// Pages
//
.page-header {
  background-size: cover;
  background-position: center;
}

// Background photos
.cabbage-background { background-image: url(../assets/images/about-header.jpg); }
.compost-background { background-image: url(../assets/images/compost-header.jpg); }

.page-header {
  .ds-display {
    font-size: 40px;
    background-color: $salmonred;
    color: $eggshellwhite;
  }
}

article {
  img {
    width: 100%;
    height: auto;
  }

  figure {
    margin: 0px !important;
    figcaption {
      font-size: 14px;
      font-style: italic;
    }
  }
}

.page-navigation {
  background-color: #fff;
  border-bottom: 4px solid #ededed;

  .page-navigation-title {
    background-color: $gravelgray;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  ul {
    li a {
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none;
      color: $shadownavy;

      &:hover, &:focus, &:active {
        color: $salmonred;
      }
    }

    li:not(:last-child) {
      border-bottom: 1px solid $gravelgray;
    }
  }
}

//
// Footer
//
footer {
  background-color: $shadownavy;
  color: $eggshellwhite;
  position: relative;

  &:before {
    content: url(../assets/images/carrot.svg);
    text-align: center;
    padding: 8px;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $eggshellwhite;
    top: -40px;
    right: 50%;
    margin-right: -30px;
    border-radius: 50%;
  }


  .footer-logo {
    background-color: white;
    padding: 8px;
    width: 130px;
    height: auto;
  }

  .footer-social {
    list-style-type: none;
    padding-left: 0px;
  }

  .footer-social li a {
    background-color: $eggshellwhite;
    display: block;
    padding: 16px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;

    &:hover {
      background-color: $salmonred;
      svg g {
        fill: white;
      }
    }
  }

  .email-input {
    background-color: $eggshellwhite;
    padding: 8px;
    border: 3px solid $salmonred;
    width: 200px;
  }
}
