//
// Splash Page
//
#splash {
  header {
    /*background-color: $mossgreen;*/
    background-image: url(../assets/images/home-splash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    p {
      color: $eggshellwhite;
    }

    h1 {
    color: $eggshellwhite;
    font-size: 96px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    z-index: 1;
    }

    span {
      padding: 0 20px;
      box-shadow: inset 0 -44px 0 0 $salmonred;
    }

    .arrow {
      content:'';
      /*display: block;*/
      width: 25px;
      height: 25px;
      top: 50%;
      margin: -20px 0 0 0;
      -webkit-transform: rotate(45deg);
      border-left: none;
      border-top: none;
      border-right: 1px #fff solid;
      border-bottom: 1px #fff solid;
    }
  }


  em {
    color: $mossgreen;
  }

  .logo {
      height: 80px;
      padding: 0 8px 8px 8px;
      background: #fff;
    }

  .intro {
    h4 {
      font-size: 32px;
      color: $salmonred;
    }

    p {
      font-size: 24px;
      color: $mossgreen;
      font-weight: 300;
    }

    .button {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1.6px;
      color: #fff;
      border:none;
      border-radius: 4px;
      background: #FC6563;
      box-shadow: 0px 4px #D14846;
      text-decoration: none;

      &:hover {
        transform: translateY(2px);
        box-shadow: 0px 2px #D14846;
      }

      &:active {
        transform: translateY(4px);
        box-shadow: none;
      }
    }
  }


  .schedule {
    background: $mossgreen;

    h3 {
      font-size:40px;
      color: $eggshellwhite;
      background: $salmonred;
      position: relative;
      top: -40px;
    }

    p {
    font-size: 24px;
    color: $eggshellwhite;
    }

    .date {
    color: $eggshellwhite;
    font-size: 32px;
    font-weight:700;
    margin: 0;
    padding: 0;
    }

  .info {
    color: $shadownavy;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    }
  }

  .construction {
    height: 500px;
    background-color: $shadownavy;

    p {
    color: $eggshellwhite;
    font-size: 16px;
    text-transform: uppercase;
    }

  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}



//
// Button mods
//
.ascf-button--salmon {
  @extend .ds-c-button;
  @extend .ds-c-button--primary;
  background-color: $salmonred !important;
  box-shadow: 0px 4px 0 #000;

  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 4px;
  background: #FC6563;
  box-shadow: 0px 4px #D14846;
  text-decoration: none;

  &:hover {
    transform: translateY(2px);
    box-shadow: 0px 2px #D14846;
  }

  &:active {
    transform: translateY(4px);
    box-shadow: none;
  }
}

.material-icons.md-24 { font-size: 24px; }

//
// Header
//
.site-header {
  background-color: $eggshellwhite;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  a {
    line-height: 0;
    text-decoration: none;
    color: $shadownavy;
  }

  .logo svg {
    height: 58px;
    width: auto;
    padding: 8px 0 8px 8px;
  }

  .main-nav {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    letter-spacing: 2px;

    li {
      > .dropdown { display: none; }
      > .dropdown-trigger { position: relative; }

      &:hover {
        background-color: $gravelgray;
        .dropdown {
          display: block;
          position: absolute;
        }
      }
    }

    .dropdown {
      background: $eggshellwhite;
      z-index: 10000;

      ul li a {
        text-decoration: none;
        color: $shadownavy;
      }
    }
  }
}

// @media only screen and (max-width: 1024px) {
//   .site-header {
//     background-color: gray;
//     position: fixed;
//     top: 0; // 100%
//     height: 100%; // 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 999;
//     transition: all 0.5s ease;
//
//     nav {
//       background-color: blue;
//       width: 100%;
//
//
//       .main-nav li {
//         background-color: $gravelgray;
//         > .dropdown {
//           display: block;
//           // position: absolute;
//         }
//         > .dropdown-trigger { position: absolute; }
//
//       }
//     }
//
//     .mobile-menu {
//       position: fixed;
//       top: 0;
//       background-color: purple;
//       width: 100%;
//     }
//   }
// }

//
// Pages
//
.page-header {
  background-size: cover;
  background-position: center;
}

// Background photos
.cabbage-background { background-image: url(../assets/images/about-header.jpg); }
.compost-background { background-image: url(../assets/images/compost-header.jpg); }

.page-header {
  .ds-display {
    font-size: 40px;
    background-color: $salmonred;
    color: $eggshellwhite;
  }
}

article {
  img {
    width: 100%;
    height: auto;
  }

  figure {
    margin: 0px !important;
    figcaption {
      font-size: 14px;
      font-style: italic;
    }
  }

  hr {
    border: 1px solid $salmonred;
    margin: 48px 0;
  }
}

.page-navigation {
  background-color: #fff;
  border-bottom: 4px solid #ededed;

  .page-navigation-title {
    background-color: $gravelgray;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  ul {
    li a {
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none;
      color: $shadownavy;

      &:hover, &:focus, &:active {
        color: $salmonred;
      }
    }

    li:not(:last-child) {
      border-bottom: 1px solid $gravelgray;
    }
  }
}

//
// Responsive map embed
//
.map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}

//
// Footer
//
footer {
  background-color: $shadownavy;
  color: $eggshellwhite;
  position: relative;

  &:before {
    content: url(../assets/images/carrot.svg);
    text-align: center;
    padding: 8px;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $eggshellwhite;
    top: -40px;
    right: 50%;
    margin-right: -30px;
    border-radius: 50%;
  }


  .footer-logo {
    background-color: white;
    padding: 8px 8px 0 8px;
    width: 130px;
    height: auto;
  }

  .footer-social {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
  }

  .footer-social a {
    background-color: $eggshellwhite;
    display: block;
    padding: 16px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;

    &:hover {
      background-color: $salmonred;
      svg g {
        fill: white;
      }
    }
  }

  .email-input {
    background-color: $eggshellwhite;
    padding: 8px;
    margin-right: 8px;
    border: 3px solid $salmonred;
    width: 165px;
    float: left;
  }
}
