---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');
@import "variables";
@import "bootstrap/scss/bootstrap";
@import "base";