---
layout: default
---
<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-3 highlight-text">{{ page.title | escape }}</h1>
    <ul class="nav custom-nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/volunteering/">Volunteering</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/compost/">Compost</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/public-events/">Public Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/partnerships/">Partnerships</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <p>
        {{ content }}
      </p>
    </div>
  </div>
</div>