---
layout: default
---
<div class="jumbotron jumbotron-fluid" id="jumbotron-home">
  <div class="container">
    <h1 class=" display-4">Grow with Us</h1>
    <p class="lead col-8">We are a meeting place, a classroom, an outdoor laboratory, an art gallery, and a much-needed green space in our neighborhood. Our goal is to cultivate not just a garden, but also a <em>community</em>.</p>
    <a href="{{ site.url }}/volunteering/" role="button" class="btn btn-primary btn-lg">Get Involved</a>
  </div>
</div>

<div id="content-home">
	<div class="row">
  		<div class="col-md-8">Main Content Here</div>
  		<div class="col-md-4 sidebar">
  			<h3>Schedule</h3>
  			<hr>
			<ol class="grow-schedule">
				<li class="list-month">January
					<ul>
						<li>Start planning for the year!</li>
					</ul>
				</li>
				<li class="list-month">February
					<ul>
						<li>Plan fundraiser</li>
						<li>Plan orientation and kickoff meetings</li>
					</ul>	
				</li>
				<li class="list-month">March
					<ul>
						<li>Hold orientation sessions and kickoff meetings</li>
						<li>Host fundraiser</li>
						<li>Start seeds for summer crops</li>
					</ul>	
				</li>
				<li class="list-month">April
					<ul>
						<li>Workdays begin</li>
						<li>Build and paint signs</li>
						<li>Repair/rebuild beds</li>
						<li>Spread soil</li>
						<li>Set up rain barrels</li>
						<li>Compost opens</li>
					</ul>	
				</li>
				<li class="list-month">May
					<ul>
						<li>Direct sow spring crops</li>
						<li>Plant seedlings for summer crops</li>
					</ul>	
				</li>
				<li class="list-month">June
					<ul>
						<li>Christopher House and Kids table weekly program in the garden begins</li>
						<li>Logan Square Arts Fest</li>
						<li>Potluck with Christopher House and Kids Table</li>
						<li>Weed!</li>
						<li>Harvest spring crops</li>
					</ul>	
				</li>
				<li class="list-month">July
					<ul>
						<li>Begin treating for pests</li>
						<li>Harvest summer crops</li>
						<li>Plant late summer/fall crops</li>
					</ul>	
				</li>
				<li class="list-month">August
					<ul>
						<li>Potluck with Christopher House and Kids Table</li>
						<li>Harvest summer crops</li>
						<li>Harvest and cure garlic</li>
						<li>Plant late summer/fall crops</li>
					</ul>	
				</li>
				<li class="list-month">September
					<ul>
						<li>Harvest fall crops</li>
					</ul>	
				</li>
				<li class="list-month">October
					<ul>
						<li>Compost closes</li>
						<li>Remove/trim back remaining plants</li>
						<li>Plant garlic for next year</li>
						<li>Cover beds with mulch/hay</li>
						<li>Empty and store rain barrels </li>
					</ul>	
				</li>
				<li class="list-month">November
					<ul>
						<li>Take a break!</li>
					</ul>	
				</li>
				<li class="list-month">December
					<ul>
						<li>Meet for special projects</li>
					</ul>	
				</li>
			</ul>
  		</div>
	</div>
</div>
<!-- 
<div class="container">
  <div class="row">
    <div class="col">
      <p>
        {{ content }}
      </p>
    </div>
  </div>
</div> -->
