---
layout: default
---
<article class="post">

  <div class="jumbotron">
  	<h1 class="display-3">{{ page.title | escape }}</h1>
  		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		</p>
		<p class="lead">Sed sit amet aliquam mi. Vestibulum in massa non dolor sollicitudin suscipit. Nam a lacus orci. Duis.
		</p>
  	<!-- <hr class="my-4">
  		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  		<p class="lead">
    		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
 		</p> -->
	</div>

  <div class="post-content">
    {{ content }}
  </div>

</article>
