---
layout: default
---
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{ page.title | escape }}</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p class="lead">Sed sit amet aliquam mi. Vestibulum in massa non dolor sollicitudin suscipit. Nam a lacus orci. Duis.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <p>
        {{ content }}
      </p>
    </div>
  </div>
</div>
