---
layout: default
---
<header class="page-header {{ page.background-photo }} ds-u-padding-y--6">
  <div class="ds-l-container">
    <div class="ds-l-row">
      <h1 class="ds-display ds-u-padding-x--2">{{ page.title | escape }}</h1>
    </div>
  </div>
</header>

<section class="ds-l-container preview__grid">
  <div class="ds-l-row">
    <article class="ds-l-col--8">
      {{ content }}
    </article>

    <aside class="ds-l-col--4">
      <nav>
        <ul>
          <li><a href="#">I'm a sidebar link</a></li>
        </ul>
      </nav>
    </aside>
  </div>
</section>
