---
layout: default
---
<div class="jumbotron jumbotron-fluid" id="jumbotron-resources">
  <div class="container text-center">
    <h1 class="display-5 highlight-text my-5">{{ page.title | escape }}</h1>
    <ul class="nav sub-nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.url }}/volunteers/">For Volunteers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.url }}/general-farming/">General Farming</a>
      </li>
    </ul>
  </div>
</div>

<article class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-8">
      <p>
        {{ content }}
      </p>
    </div>
  </div>
</article>