---
layout: default
---
<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-3 highlight-text">{{ page.title | escape }}</h1>
    <ul class="nav custom-nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/cfc-volunteers/">CFC Volunteers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/general-farming/">General Farming</a>
      </li>
    </ul>
  </div>
</div>

<article class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-8">
      <p>
        {{ content }}
      </p>
    </div>
  </div>
</article>