<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  </head>

  <body>
    
    {% include header.html %}

    <div class="ds-base" id="splash">
      <div class="top">
        <div class="ds-l-container">
         
    		  <div class="ds-l-row ds-u-margin-top--7">
    			  <div class="ds-l-col">
              <h1><span></span></h1>
<!-- Add back after fundraiser 
    				  <h1><span>Grow</span></h1>
-->
    			  </div>
    		  </div>
          
          <div class="ds-l-row ds-u-margin-bottom--7">
            <div class="ds-l-col">
              <h1><span></span></h1>
  <!-- Add back after fundraiser             
              <h1><span>With Us</span></h1>
-->
            </div>
          </div>

          <div class="ds-l-row">
            <div class="ds-l-col ds-u-display--flex ds-u-flex-wrap--wrap ds-u-justify-content--center ds-u-padding--0">
<!-- Add back after fundraiser   
              <p class="ds-u-padding-bottom--0">Find out how</p>
-->              
              <p class="ds-u-padding-bottom--0" style="color:black;">The garden property is at risk of being purchased by developers. We now need your help to keep the garden going! Check out our <a href="https://www.gofundme.com/f/save-the-corner-farm?qid=4bd74a3a20dc7cb55dbd7e069320b0f6" target="_blank">GoFundMe page</a>to find out more.</p>
            </div>
          </div>

          <div class="ds-l-row ds-u-padding-bottom--7">
            <div class="ds-l-col ds-u-display--flex ds-u-flex-wrap--wrap ds-u-justify-content--center ds-u-padding--0">
              <div class="arrow"></div>
            </div>
          </div>
          
        </div>
      </div>

      <div class="content ds-l-container intro">
    	  <div class="ds-l-row">
    		  <div class="ds-l-md-col--8">
    			  <h4 class="ds-u-margin-y--0 ds-u-padding-top--5">Who are we?</h4>
    				<p class=" ds-u-margin--0 ds-u-padding-y--2">Corner Farm is a meeting place, a classroom, an outdoor laboratory, an art gallery, and a much-needed green space in our neighborhood. Our goal is to cultivate not just a garden, but also a community.</p>
    			</div>
    	  </div>

    	<div class="ds-l-row">
    		<div class="ds-l-md-col--8">
    				<h4 class="ds-u-margin-y--0 ds-u-padding-top--5">How does this work?</h4>
    				<p class=" ds-u-margin--0 ds-u-padding-y--2">At Altgeld Sawyer Corner Farm, we work with our neighbors to grow food, share it, and build the relationships that make a community.</p>
    			</div>
    	</div>

    	<div class="ds-l-row">
    		<div class="ds-l-md-col--8">
    				<h4 class="ds-u-margin-y--0 ds-u-padding-top--5">Join us for the 2021 season!</h4>
    				<p class=" ds-u-margin--0 ds-u-padding-y--2">Do you want to learn how to grow vegetables in a sustainable urban garden? Do you believe that all our neighbors should have access to fresh and healthy food? Do you want to help young kids discover where their food comes from and how to grow it?</p>
    				<p class=" ds-u-margin--0 ds-u-padding-y--2">We're in the garden every Wednesday night and every other Saturday.</p>
            <p class=" ds-u-margin--0 ds-u-padding-y--2">Send us a message to sign up! Mention if you're a beginner, a seasoned gardener, or somewhere in between. Please also let us know if you have any questions about accessibility. No experience necessary!</p>
    			</div>
    	</div>

    	<div class="ds-l-row ds-u-margin-y--8">
    		<div class="ds-l-col ds-u-display--flex ds-u-justify-content--left">
    			<a href="mailto:cornerfarmchicago@gmail.com" class="button ds-u-margin-bottom--7 ds-u-padding-y--2 ds-u-padding-x--3">Contact Us</a>
    		</div>
    	</div>
    	<div class="ds-l-row ds-u-padding--5"></div>
      </div>


      <div class="schedule">
        <div class="ds-l-container">
          <div class="ds-l-row">
            <div class="ds-l-col--auto">
              <h3 class="ds-u-margin-y--0 ds-u-padding-x--2">Calendar</h3>
            </div>
          </div>

          <div class="ds-l-row ds-u-padding--2"></div>

              <div class="ds-l-row">
                  <div class="ds-l-col--12">
                      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=cornerfarmchicago%40gmail.com&amp;color=%230D7813&amp;ctz=America%2FChicago" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                  </div>
              </div>

          <div class="ds-l-row ds-u-padding--7"></div>
        </div>
      </div>

    </div>
  </body>

</html>
